.cell {
    /* border: solid 1px gray; */
    display: inline-flex;
    min-width: 50px;
    min-height: 50px;
}

.top, .bottom {
    height: 100px;
}

.left, .right {
    width: 100px;
}

.inner-piece {
    flex: 1;
}

.corner-piece {
    background-color: violet;
}   

.top-edge {
    border-bottom: solid 1px black;
}

.left-edge {
    border-right: solid 1px black;
}

.bottom-edge {
    border-top: solid 1px black;
}

.right-edge {
    border-left: solid 1px black;
}
